{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <script type="text/javascript">
        const gallery_dic = '{{ gallery_dic }}';
        const image_gallery = '{{ image_gallery}}';
    </script>
    <body class="{% block body_class %}{% endblock %}">

    <div id="app">
        <div class="container col-sm-12">
        <div class="row">
            <h1 class="title">ITHAKA GALLERY</h1>
        </div>
        <div class="row">
            <h5 class="subtitle title">Take Home Assignment</h5>
        </div>
        <div class="row">
            <p class="desc title">Ipsum delorum text</p>
        </div>
        <div class="row">
            <div class="search-row">
                <input type="text"
                        placeholder="search images">

                <button> Search </button>
            </div>
        </div>


            <div class="container-fluid">
            <div class="gallery-wrapper">
                <div class="left-gallery">
                    <div class="row gallery-row">
                        {% for image in gallery_list %}
                        <div class="img">
                            <img src="{% if image.url_l %}
                                    {{ image.url_l }}
                                {% elif image.url_m %}
                                    {{ image.url_m }}
                                {% elif image.url_n %}
                                    {{ image.url_n }}
                                {% endif %}"
                                 class="gallery-img">
                        </div>
                        {% endfor %}

                    </div>

                </div>

                <div class="pagination">
                        <span class="step-links">
                            {% if gallery_list.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{
                                gallery_list.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ gallery_list.number }} of {{ gallery_list.paginator.num_pages }}
                            </span>
                            {% if gallery_list.has_next %}
                                <a href="?page={{ gallery_list.next_page_number }}">next </a>
                                <a href="?page={{ gallery_list.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                </div>

            </div>
            </div>
        </div>
    </div>



        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>


        {% block extra_js %}
        <script>
            const app = new Vue({
                delimiters: [' [[', ']]'],
                el: '#app',
                data() {
                    return {
                        message: 'Hello',
                          images: [
                            'https://dummyimage.com/800/ffffff/000000',
                            'https://dummyimage.com/1600/ffffff/000000',
                            'https://dummyimage.com/1280/000000/ffffff',
                            'https://dummyimage.com/400/000000/ffffff'
                          ],
                        gallery_dic: gallery_dic,
                        index: null,
                        image_gallery: image_gallery,
                    }
                },
                methods: {
                    greet: function(name) {
                        console.log('Hello from dawn !')
                    }
                },

            });
        </script>
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
